@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CircularSpotifyText-Medium';
  src: url('../src/fonts/CircularSpotifyText-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularSpotifyText-Black';
  src: url('../src/fonts/CircularSpotifyText-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  background:  #000;
  color: #fff;
  font-family: "CircularSpotifyText-Medium", sans-serif
}
