@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CircularSpotifyText-Medium';
  src: url('../src/fonts/CircularSpotifyText-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularSpotifyText-Black';
  src: url('../src/fonts/CircularSpotifyText-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  background:  #000;
  color: #fff;
  font-family: "CircularSpotifyText-Medium", sans-serif
}
